body {
  background-color: #080808;
  color: #a5a084;
  font-size: 20pt;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    font-size: 10pt;
    overflow-x: hidden;
    .article {
      max-width: 100%;
      overflow-x: hidden;
    }
    .navBoxElem > a {
      font-size: 1pc;
    }

    #logo > a > img {
      width: 30px;
    }
    #logo{
        width: 50px;
        height: 50;
    }
    #slogan {
      font-size: 1.5pc;
    }
  }
}
.header {
  background-color: #080808;
  width: 100%;
  margin: 0 auto;
}
/*Définir la with du logo à 50px */
#logo > a > img {
  width: 60px;
  left: -15%;
}

#logo > a > img:hover {
  width: 80px;
  transition: width 0.5s ease-in;
}

#logo {
  width: 100px;
  height: 100px;
  display: flex;
}

#logo {
  align-items: center;
  justify-content: center;
}

#navBox {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5%;
  width: 60%;
  margin: -4.3% auto 0 auto;
}

li > a > img {
  width: 25px;
  position: relative;
 
}
.navBoxElem > a {
  color: #a5a084;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2pc;
  padding-bottom: 10%;
  text-decoration: none;
}

#navBoxSeparator {
  width: 2px;
  height: 2pc;
  background-color: #9c8300;
}

.navBoxElem > a:hover {
  color: #9c8300;
}

.article {
  background-color: #080808;
  display: flexbox;
  width: 80%;
  margin: 0 auto;
}

#slogan {
  text-align: center;
  line-height: 1em;
  color: #9c8300;
  visibility: 0;
  opacity: 0;
  font-size: 3pc;
  margin-top: 5%;
}

#slogAuth {
  font-size: 1.5pc;
  position: relative;
  display: flex;
  justify-content: center;
  margin: -0.8% auto 0 auto;
}

#aboutMe {
  justify-content: center;
}

.footer {
  background-color: #080808;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
 
}

#line {
  width: 80%;
  height: 2px;
  background-color: #9c8300;
 margin: 0 auto;

}

#socialMedia {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% auto;
  gap: 10px;
}

#socialMedia > .media > img {
  width: 35px;
}

#const {

  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 1% auto;
}

#scInteger {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 5%;
  margin: 5% auto;
}
#scElem {
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

#whiteLine1 {
  height: 1px;
  width: 0%;
  background-color: #a5a084;
  z-index: 0;
}

#whiteLine2 {
  height: 1px;
  width: 0%;
  background-color: #a5a084;
  bottom: 50%;
  z-index: 0;
}

#containerPortfolio{

  margin: 0% auto;
}